/* font-family: 'Concert One', cursive; */
/* font-family: 'Gilda Display', serif; */
/* font-family: 'IM Fell English SC', serif; */
/* font-family: 'Lilita One', cursive; */

body {
    background-color: bisque;
}


.cDiv {
    background-color: cadetblue;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;    
}

.cTitulo {
    background-color: aqua;
    color: blueviolet;
    text-align: center;
    font-family: 'Concert One', serif;
    font-size: xx-large;
    font-style: italic;
    border: 1px solid blueviolet;    
}

.cParrafo {
    background-color: aqua;
    color: blueviolet;
    text-align: center;
    border-radius: 10px;
    font-family: 'Gilda Display', serif;
    font-size: medium;
    font-weight: 800;
    border: 1px solid blueviolet;
    padding: 5px;
}

button {
    color: blueviolet;
    border: 1px solid blueviolet;
    border-radius: 5px;
}


